<!-- voting/templates/voting/results.html -->

{% extends 'voting/base.html' %}

{% block title %}Результаты Голосования - {{ election.name }}{% endblock %}

{% block content %}
    <h2>Результаты голосования: {{ election.name }}</h2>
    <p>{{ election.description }}</p>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Кандидат</th>
                <th>Количество голосов</th>
            </tr>
        </thead>
        <tbody>
            {% for candidate, votes in total_votes.items %}
                <tr>
                    <td>{{ candidate }}</td>
                    <td>{{ votes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'voting:home' %}">Вернуться на главную страницу</a>
{% endblock %}
